@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@600&family=Yellowtail&display=swap');

.spacebg_img {
  background-image: url('/IMG/spacebg.jpg');
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacebg_overlay1{
  background-color:rgba(0, 0, 0, 0.4);
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-drop-down{
text-align: center;
}

.jumbo-bg {
  background: none;
}

.logo{
  height: 80px;
  width: 80px;
}

.nav-text {
font-family: 'yellowtail', cursive;
}

.jumbotron-text{
  font-family: 'yellowtail', cursive;
  color: rgba(207, 209, 53, 0.9);
  font-size: 125px;
  position: absolute;
  top: 17vh;
  width: 100%;
  text-align: center;
}

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}

button{
  color: rgba(207, 209, 53);
  border: none;
  background: none;
font-family: 'Open Sans', sans-serif;
}

.dropdown-item{
  color: rgba(207, 209, 53);
  border: none;
  background: none;
}

.img2_text{
font-family: 'Source Sans Pro', sans-serif;
height: 100%;
width: 65%;
display: flex;
flex-direction: column;
align-items: start;
padding-top:290px;
padding-right: 500px;
color: black;
}

h4{
font-family: 'Open Sans', sans-serif;
}

h2{
font-family: 'Source Sans Pro', sans-serif;
  color:rgba(207, 209, 53);
}

h3{
font-family: 'Open Sans', sans-serif;
  color:rgba(207, 209, 53);
}

.bg-img2 {
  background-image: url('/IMG/skatedog.jpg');
  height: 85vh;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skatedog_overlay{
  background-color:rgba(0, 0, 0, 0.1);
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.spacebg_img2 {
  background-image: url('/IMG/spacebg.jpg');
  height: 135vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacebg_overlay2 {
  background-color:rgba(0, 0, 0, 0.4);
  height: 135vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_img3 {
  background-image: url('/IMG/skateimg3.jpg');
  height: 550px;
  width: 715px;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:5em;
}

.bg_img4 {
  background-image: url('/IMG/skateimg4.jpg');
  height: 550px;
  width: 715px;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:5em;
}

.overlay3:hover{
  z-index:1;
}

.center-text{
width: 100%;
height: 100%;
background-color:rgba(0, 0, 0, 0.3);
height: 550px;
width: 715px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index:-1;
}

.text-transition{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:rgba(207, 209, 53);
}

.padding-bottom{
margin-bottom: 0;
}

.bg-img5 {
  background-image: url(https://i.picsum.photos/id/1020/4288/2848.jpg?hmac=Jo3ofatg0fee3HGOliAIIkcg4KGXC8UOTO1dm5qIIPc);
  height: 343px;
  width: 343px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-img6 {
  background-image: url(https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg);
  height: 343px;
  width: 343px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-img7 {
  background-image: url(https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts);
  height: 343px;
  width: 343px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-img8 {
  background-image: url(https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y);
  height: 343px;
  width: 343px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer{
background-color: black;
color: white;
height: 40vh;
}

.footer-spacing{
padding-top: 95px;
display: flex;
align-items: space-around;
justify-content: space-around;
}

.line_icons{
  padding-top: 8em;
}

.cards {
   display: flex;
   justify-content: space-evenly;
   color:rgba(207, 209, 53);
}

.card{
  border: none;
  background: none;
}